<nav id="sidebar">
    <div class="sidebar-header">
      <h3>Care First</h3>
    </div>

    <ul class="list-unstyled components">
      <p>Welcome, {{username}}</p>
      <li class="active">

        <a href="" data-toggle="collapse" class="dropdown-toggle" {{action (toggle-action "homeSubmenuCollapse" this)}}>Home</a>
        {{#bs-collapse collapsed=homeSubmenuCollapse}}
          <ul class="list-unstyled" id="homeSubmenu">
          <li>
            <a href="#">Home 1</a>
          </li>
          <li>
            <a href="#">Home 2</a>
          </li>
          <li>
            <a href="#">Home 3</a>
          </li>
        </ul>
        {{/bs-collapse}}
      </li>
      <li>
        <a href="#">About</a>
        <a href="" data-toggle="collapse" class="dropdown-toggle" {{action (toggle-action "pageSubmenuCollapse" this)}}>Admin</a>
        {{#bs-collapse collapsed=pageSubmenuCollapse}}
        <ul class="list-unstyled" id="pageSubmenuCollapse">
          <li>
            <a href="#">Add User</a>
          </li>
          <li>
            <a href="#">Page 2</a>
          </li>
          <li>
            <a href="#">Page 3</a>
          </li>
        </ul>
        {{/bs-collapse}}
      </li>
      <li>
        <a href="#">Portfolio</a>
      </li>
      <li>
        <a href="#">Contact</a>
      </li>
    </ul>

    <ul class="list-unstyled CTAs">
      <li>
        {{#if authenticated}}
          <a href="#" class="login" {{action 'logout'}}>Log Out</a>
        {{else}}
          {{#link-to 'login' class="login"}}Login{{/link-to}}
        {{/if}}
      </li>
      <li>
        <a href="#" class="article">Help</a>
      </li>
    </ul>
  </nav>